<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Employees Data Update</h2> 
                <form action="/updaterecord/<%=record.id%>" method="post" >
                    <label>Name</label>
                    <input type="text" name="ename" value="<%=record.name%>" class="form-control">
                    <label>Email address</label>
                    <input type="text" name="email"value="<%=record.email%>" class="form-control">
                    <label>Phone No</label>
                    <input type="number" name="phoneno" value="<%=record.phone%>" class="form-control">
                    <label>City</label>
                    <input type="text" name="city" value="<%=record.city%>"class="form-control">
                    <label>ZIP Code</label>
                    <input type="number" name="zip" value="<%=record.zip%>" class="form-control">
                    <label>Address Line 1 </label>
                    <input type="text" name="address1" value="<%=record.address1%>" class="form-control">
                    <label>Address Line 2 </label>
                    <input type="text" name="address2"value="<%=record.address2%>" class="form-control">
                    <label>Date of employment</label>
                    <input type="date"  name="doe" value="<%=record.join%>">
                    <br><br>
                    <label>D.O.B</label>
                    <input type="date" name="dob" value="<%=record.join%>">
                    <button type="submit"class="btn btn-success form-control"> Click for Update</button>
                </form>
            </div>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</body>
</html>